@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes clink {
    0%{
        box-shadow: 0px 0px 5px 15px greenyellow;
        
    }
    100%{
        box-shadow: 0rem greenyellow;
        
    }
}
@keyframes changer {
    0%{
        transform: translate(1rem,1rem);
        opacity: 0;
    }
    30%{
        transform: translate(-1rem,-1rem);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}